# docker-compose.yml
version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: order_service
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/order_service
      API_TOKEN: 2BnNHYFsOcJ6tLzZ28l8EV5sQgCv8kJZj-bjehpuu_k
    depends_on:
      - postgres

volumes:
  postgres_data:
